<div class="container" style="padding: 0">
    <h2>Lista de productos:</h2>

    {{!-- #each: para que itere en todos los productos que reciba --}}
    {{#each products}}
    <div class="card" style="width: 18rem; margin-top: 1em">
        <div class="card-body">
            <h5 class="card-title">{{ this.title }}</h5>
            <p class="card-text">{{ this.description }}</p>
            <p class="card-text">Disponibles: {{ this.stock }}</p>
            <p class="card-text">Precio: ${{ this.price }}</p>
        </div>
    </div>
    {{/each}}

</div>