<div>
    <h1> BIENVENIDOS (Proyecto: Solange Fano) </h1>
</div>

{{!-- Paquete de socket io --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- Nuestro script --}}
<script src="/js/index.js"></script>